<html>

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="<%= htmlWebpackPlugin.options.metaDesc %>" />
<!-- 
  <% for (key in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
    <% } %> -->

    
    <script  src="./p5.js"></script>
    <%= "<script>" + compilation.assets['anybody.js'].source() + "</script>" %>
      <style>
        body {
          margin: 0;
          padding: 0;
          font-family: "Comic Sans MS", "Comic Sans", cursive;
          font-size: 48px;
        }
        .pointer{
          cursor: pointer;
          margin: 10px;
        }
        div, canvas {
          display: inline;
          margin: 0;
          padding: 0;
          /* text-align: center; */
        }
        div.name {
          display: inline-block;
          /* margin: 0 50px; */
          width: 25vw;
          text-align: left;
        }
      </style>

</head>

<body>
  <% for (var i = 0; i < 100; i++) { %><div class="sketch-holder" id="sketch-holder-<%= i %>"></div><% } %>
  <br>
  <% for (var i = 0; i < 100; i++) { %><div class="name" id="name-<%= i %>"></div><% } %>

  <button class="pointer" id="prev">prev</button>
  <button class="pointer" id="next">next</button>
  <div id="page"></div>
  <script>
    let page = 1
    let perPage = 4
    let globalViper
    let totalVipers = 0

    // click next and increase page then call startPage
    document.getElementById("next").addEventListener("click", (e) => {
      e.preventDefault()
      page += 1
      if (page > Math.ceil(486 / 4)) page = 1
      startPage()
    })    
    document.getElementById("prev").addEventListener("click", (e) => {
      e.preventDefault()
      page -= 1
      if (page < 1) page = Math.ceil(486 / 4)
      startPage()
    })
    
    const arrayOfVipers = []
    var s = function(p) {
      const container = totalVipers % perPage
      const tokenId = (perPage * (page-1)) + totalVipers + 1
      if (tokenId > 486) return
      var viper = new Viper({
        tokenId,
        setting: "browser",
        // pattern: "random",
        maxNumberOfLines: Math.ceil(100 * (totalVipers / 806)) + 1,
        div: `sketch-holder-${container}`,
      })
      if (container == 0) {
        globalViper = viper
      }
      if (container > perPage) {
        console.error(`shouldn't be ${{totalVipers}} vipers`, totalVipers)
        return
      }
      var draw = false
      p.preload = async () => {}
      p.setup = async () => {
        await viper.setup(p)
        await viper.preload()

        draw = true
      }
      p.draw = async () => {
        if (!draw) return
        viper.draw()
      }
      const prevViper = arrayOfVipers[container]
      if (prevViper) {
        prevViper.die()
      }
      arrayOfVipers[container] = viper
      document.getElementById(`name-${container}`).innerHTML = `${viper.me.name}`
      totalVipers += 1
    }
    function startPage() {
      // get all elements with class sketch-holder
      document.getElementsByClassName("sketch-holder").forEach(element => {
        element.innerHTML = ""
      });
      totalVipers = 0
      for (var i = ((page-1) * perPage); i < (((page-1) * perPage) + perPage); i++) {
        if (i > 486) return
        // document.getElementById(`sketch-holder-${i}`).innerHTML = ""
        // document.getElementById(`name-${i}`).innerHTML = ""
        new p5(s, `sketch-holder-${i}`)
        document.getElementById('page').innerHTML = page
      }
    }

    startPage()


  </script>
</body>

</html>